/* --- estilos responsive --- */

/* --- Mobile 320px --- */
@media (max-width: 480px) {

  table thead {
    display: none; /* Oculta encabezados */
  }

  table tr {
    display: block;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: #fff;
  }

  table td {
    display: flex;
    justify-content: space-between;
    margin: 6px 0;
    font-size: 14px;
  }

  table td img {
    width: 100px !important;
    height: auto;
  }

  .cantidad-input {
    width: 70px !important;
  }

  /* texto más chico */
  table td {
    font-size: 12px;
  }

  td button {
    align-self: center;
  }
}

/* --- Tablet 768px --- */
@media (min-width: 481px) and (max-width: 768px) {
  table td {
    font-size: 14px;
  }
  table td img {
    width: 90px !important;
  }
}

/* --- 1024px --- */
@media (min-width: 769px) and (max-width: 1024px) {
  table td {
    font-size: 15px;
  }
  table td img {
    width: 100px !important;
  }
}

