body {
  font-family: 'Inter', sans-serif;
  background: #F8F9FA;
  margin: 0;
  padding: 0;
  color: #000;
}

.navbar img {
  height: 30px;
  float: left;
  margin-right: 10px;
}
main h1{
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  float: left;
}

main h2 {
  margin: 40px 0 20px;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
}


.productos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
  padding: 20px 40px;
}


.product-card {
  background: #FFFFFF;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}

.product-card img {
  width: 100%;
  max-height: 160px;
  object-fit: contain;
  margin-bottom: 10px;
}

.product-card .card-title {
  font-size: 20px;
  font-weight: 700;
  margin: 5px 0;
}

.product-card .description {
  font-size: 14px;
  font-weight: 500;
  color: #6B7280;
  margin: 5px 0;
}

.product-card .price {
  font-size: 16px;
  font-weight: 700;
  color: #F59E0B;
  margin: 5px 0;
}

.product-card .sold {
  font-size: 12px;
  font-weight: 700;
  color: #6B7280;
}


.product-card button {
  margin-top: auto;
  background-color: #F59E0B;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 10px 15px;
  font-weight: 600;
  cursor: pointer;
}

.product-card button:hover {
  background: #d97706;
}